<h1>{{title}}</h1>
<div>

<table>
    <thead>
        <th>What you ate today?</th>
        <th>Date</th>
        <th>Distance ran today</th>
        <th>Calories ate</th>
        <th>Calories burnt</th>
    </thead>

    <tbody>
        
    </tbody>
    
</table>

</div>