<h1>{{title}}</h1>
<img class="rounded float-end p-5" width="400px" src="/images/photo_2023-04-12_15-28-44.jpg" alt="">
<div class= "body p-5">

<h3>About me: General</h2>
<p>I was born in Ukraine, in Odessa. Odessa is a beautiful city with a huge port on a Black See. I Graduated the high school with good marks and went to college in Odessa on the economics program. After graduating the college went to Canada to study programming.</p>
<h3>Achievements and Benefits</h3>
<ul>
    <li>Got a red diploma on Economy program in KNTII college (red diploma means 100% of 100%)</li>
<li>Finished project for Georgian College Department using Python for automation</li>
<li>Won several math competitions in Odessa</li>
<li>Familiar with different tools: GitHub, MySQL, Scene Builder, VS Code, IntelliJ IDEA, WAPM, WebStorm</li>
<li>Know different programming languages: Python, Java, C#, PHP, SQL, CSS, HTML, JS</li>
<li>Know 4 languages (English, Ukrainian, Russian, German)</li>
</ul>
</div>
