<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlad Berest</title>
    <link rel="icon" href="./images/favicon.png">
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
    
<header>
        <section class="intro" >
        <div>
            <h1>Vlad Berest</h1>
            <h2>Computer Science Student</h2>
        </div>

            <div class="summary">
                <p>I'm thrilled to have you here and excited to share my passion for web development with you. As a web
                    developer, I specialize in creating stunning and functional websites that help businesses and
                    individuals achieve their online goals.</p>
                    <p>Go to specific section: </p>

                    <p class = "links"> 
                        <a href="/about"><ion-icon name="person-add-outline"></ion-icon> About me</a> 
                        <a href="/projects"><ion-icon name="code-outline"></ion-icon> Projects</a> 
                        <a href="/contact"> <ion-icon name="mail-unread-outline"></ion-icon> Contact me</a>  
                    </p> 
                    
            </div>
        </section>
    </header>

<!-- Icons from: https://ionic.io/ionicons/usage -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

 
</html>