<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>

  <div class="mb-3">
  <nav class="navbar navbar-expand-lg fixed-top bg-secondary" >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">Vlad Berest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/projects">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>

  <body>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>


  <footer class="d-flex flex-wrap justify-content-between align-items-center p-4 border-top fixed-bottom bg-secondary">
    <div class="col-md-4 d-flex align-items-center" bis_skin_checked="1">
      <span class="mb-3 mb-md-0 text-white">Created by Vlad Berest, 2023</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-5">
      <li class="ms-3 "><a href="https://github.com/VaTruShka01"><img src="https://static-00.iconduck.com/assets.00/github-inverted-icon-2048x1993-qoeck9vw.png" alt="" class="bi" width="50"></a></li>
      <li class="ms-3 "><a href="https://www.linkedin.com/in/vlad-berestetskiy/"><img src="https://static-00.iconduck.com/assets.00/linkedin-with-circle-icon-512x512-cvyrro5n.png" alt="" class="bi" width="52" ></a></li>
      <li class="ms-3 "><a href="https://instagram.com/vlad_berest?igshid=YTQwZjQ0NmI0OA%3D%3D&utm_source=qr"><img src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/7911312/instagram-icon-md.png" alt="" class="bi" width="53"></a></li>
    </ul>
  </footer>
</html>
