<h1 class="mb-5">{{title}}</h1>
<div class="container">
<section class="p-3 mb-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <h3>Documents automation using Python</h3>
    <h4 class="fst-italic">Georgian College - Teaching & Learning Center, Barrie ON</h4>
    <ul class=" pb-2 mb-3 border-top border-bottom border-secondary">
        <li>Project Description: Operating Python, my team and I created an
        application that helps validate Excel spreadsheets and uses it to
        automatically send emails to employees with helpful information. Got the
        reference letter for a great job with multiple data sources</li>
        <li>Languages and Tools: Python, Visual Studio Code, GitHub</li>
    </ul>
</section>

<section class="p-3 mb-3 bg-info bg-opacity-10 border border-info border-end-0 rounded-start">
    <h3>Job-search mobile app using Java</h3>
    <h4 class="fst-italic">Georgian College, Barrie ON</h4>
    <ul class=" pb-2 mb-3 border-top border-bottom border-secondary">
        <li>Project Description: Searches job websites based on the title input of the
        user, using API. Gives the list with a brief description of the jobs. The user
        also can press a button to view more details about the job and its sources.
        Implemented automation testing to increase project efficiency</li>
        <li>Languages and Tools: Java, GitHub, Android Studio, Automated Testing</li>
    </ul>
</section>

<section class="p-3 mb-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <h3>Bags webstore using ASP.NET</h3>
    <h4 class="fst-italic">Georgian College, Barrie ON</h4>
    <ul class=" pb-2 mb-3 border-top border-bottom border-secondary">
        <li>Project Description: The store is made with CRUD functionality,
        authorization, and authentication. It allows logged-in users or guests to
        view bags, add them to a cart, and purchase using Stripe API and allows
        administrators to add, delete, or edit bags in the store. Implemented risk
        mitigation from SQL injections, and added database backups
        </li>
        <li>Languages and Tools: ASP.NET, SQL, CSS, GitHub, Visual Studio</li>
    </ul>
</section>

<section class="p-3 mb-5 bg-info bg-opacity-10 border border-info border-end-0 rounded-start">
    <h3>Various website projects</h3>
    <h4 class="fst-italic">Georgian College, Barrie ON</h4>
    <ul class=" pb-2 mb-3 border-top border-bottom border-secondary">
        <li>Project Description: Developed personal websites with useful pages,
        optimized user-friendly interfaces, designed responsive layouts</li>
        <li>Languages and Tools: JavaScript, HTML, CSS, MongoDB, Express.js,
        Angular.js, Node.js, BootStrap 5, Visual Studio</li>
    </ul>
</section>
</div>