body {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/medical-background-36j645gjgq37ft5z.jpg');
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  
}



